


input[id=your-question] {
    background: rgba(#255, #255, #255, 0.8);
}

.text-faded img {
    height: 30px;
    width: 30px;
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    display: none;
}

.icons{
    width:50px;
}

.weather{
    width:150px;
}