*{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    outline: none;
}

.row img{
    height: 200px;
    width: 300px;
    border-radius: 3px;
}


input[id=your-question]{
    background:rgba(#255, #255, #255, 0.8);
}

.text-faded img{
height: 30px;
width:30px;
}
